<div style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin: 20px;">
    <div>
        <h1>Frequently Asked Questions</h1>
    </div>

    <mat-card style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h3>Adventure Questions</h3>

        <mat-accordion style="width: 80%;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Who is eligable to participate?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Is there an age requirement to participate?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, depending on the type of adventure there is an age requirement to participate. The child
                    must
                    be
                    between 5 and 18 years old.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Are siblings allowed to participate in the adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    As a faith based organization we strongly believe in the family unit and strive to include
                    siblings;
                    however, depending on game and opportunity some adventures may restrict participation.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Is my child eligible if they have already participated with another hunting or
                            fishing
                            organization?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, absolutely they are still eligible.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How are children chosen?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. How is a child chosen to participate in an outdoor adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Once an application is submitted, it will be processed and reviewed by the Board of Directors.
                    Depending
                    on the urgency, type of outdoor adventure and season, you will be contacted to discuss.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. How long before I hear something about my child’s application?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    If you did not indicate it was urgent, someone will contact you within a week. If for some
                    reason
                    you
                    have not heard from someone, please call us directly inquiring about the status of your child’s
                    application
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. How do you decide when a child will have an adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Our heart’s desire is to fulfill all requests as expeditiously as possible; however, we do
                    prioritize
                    children considered urgent. In addition, depending on logistics, type of adventure and season
                    directly
                    affects scheduling.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What are the family expenses?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Is the family responsible for travel expenses like airfare or rental car?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, Hunting For THE Cure takes care of all travel expenses to and from your destination.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Are we responsible for baggage expenses?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The easy answer is no; however, sometimes on the original flight to your destination you may
                    have to
                    cover baggage expenses only for the initial trip but will be reimbursed once you arrive at your
                    destination.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Are we responsible for any lodging expenses?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely not and all lodging will be arranged prior to your arrival.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Are we responsible for meals?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Definitely not, many times our volunteers work hard behind the scenes preparing meals making
                    meals a
                    part of the adventure.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. Are we responsible for license of tag fees?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    You should be aware of the local laws of your destination but you are not responsible for any
                    license or
                    tag fees.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. Are we responsible for processing what we harvest?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, Hunting For THE Cure takes care of all processing fees to include shipping it back home to
                    you.
                    More
                    often than not, our processors out of the kindness of their hearts process our wildgame for
                    FREE.
                    Now
                    that’s a blessing that keeps blessing!
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What are adventures?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. What is an adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We call all our hunting and fishing trip adventures because that’s exactly what they are. It’s
                    about
                    so
                    much more than just hunting and fishing.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Are adventures provided in a private or group setting?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We provide both private and group adventures
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. What should we expect with our child’s adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    First and foremost, “FUN” …. Yes we hunt and fish, but it is about so much more. We call it an
                    adventure
                    for a reason. Although we plan and coordinate events and hunts, we can be spontaneous. Structure
                    and
                    coordination is important but never at the expense of joy.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. How long does an adventure last?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Private adventures usually last between 5 and 7 days depending on schedules and the family.
                    Group
                    adventures last for 3 or 4 days depending on the adventure.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. What do you mean the child is in control?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    A child cannot control being diagnosed with cancer or how many radiation and chemo treatments.
                    They
                    cannot control how many times they are stuck for labs or treatments but here, here we give them
                    control
                    over things they can control. For instance, if we get in a hunting blind at 6am and at 6:20am
                    that
                    child
                    is ready to return from hunting, then we return. At the same time, if the child wants to sit all
                    day
                    hunting, then we will sit all day. We let them control the things they can control.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. Can we participate in more than one adventure?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We offer a “One Time” private adventure with airfare but families are welcome and encouraged to
                    return
                    each year participating in the group adventures. We believe this is so important. Time has
                    proven
                    this
                    offers encouragement, provides hope and is even therapeutic. Being around other non-judgemental
                    families
                    that are familiar with the stress and strain and may be dealing with the side effects in itself
                    is
                    comforting.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Fishing
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Do you fresh or saltwater fish?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Both, we provide both saltwater and freshwater fishing trips.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Can we keep the fish we catch?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes as long as what you catch is legal, size and quantity.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Do I have to clean what we catch?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely not, your guides will take care of the processing of what you catch.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. What do you do with the fish we catch?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The fish are frozen and either shipped to you or are donated to Hunting For The Hungry, a
                    program
                    that
                    provides meat to families with children fighting cancer.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. Do you provide taxidermy for trophy fish?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, trophy fish are taken to the taxidermist to be mounted for FREE as a part of the Hunting
                    For
                    THE
                    Cure program.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Fishing
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Who can hunt?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We believe in the family unit. Siblings are indirectly affected too and sometimes these effects
                    can
                    manifest into resentment or even jealousy. Thus, not only the child diagnosed or in remission
                    but
                    their
                    siblings may hunt as well depending on the game and season.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. What if my child has never hunted?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No problem, we will be with your child every step of the way providing education on the firearm
                    and
                    the
                    game he or she will be hunting. An opportunity to familiarize oneself with the firearm prior to
                    the
                    hunt
                    will be provided and is essential.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Can a parent join their child on the hunt?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely and we strongly encourage it. However, you need to be aware with some game the more
                    participants may reduce the chance of a successful hunt. We have experienced many successful
                    hunts
                    with
                    four people. It can be done.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Who is responsible for knowing the law?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We are all responsible for knowing the law where and when we are hunting.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. Can you hunt out of season?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    In the State of Georgia, some state regulated game may be hunted out of season through a program
                    known
                    as “Taylor’s Law.” However, no sibling would be allowed to participate under “Taylor’s Law” only
                    the
                    child diagnosed.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. What if my child has special needs or physical limitations?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We specialize in special needs and physical limitations. We have hog hunted with a child that
                    was
                    wheelchair bound and performed a fireman’s carry all the way into the hog where he was able to
                    successfully stick the hog with a knife. We had other children that were too weak and required a
                    shooting sled. Let us know the challenge and let’s work together Sharing a Smile!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            7. What if my child chooses not to harvest?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We do not require a child to harvest an animal to participate. The adventure is about “Sharing a
                    Smile”
                    and the hunts are not a guaranteed harvest. Truthfully, for us, it is about so much more than
                    harvesting
                    an animal.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            8. Am I responsible for processing what my child harvests?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, guides will handle processing, caping and getting the animal to the taxidermist.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9. Am I responsible for the taxidermist?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, taxidermy is provided FREE as a part of our program.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10. What do you do with the meat harvested?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The meat is frozen and either shipped to you or is donated to Hunting For The Hungry, a program
                    that
                    provides meat to families with children fighting cancer.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How do I travel with a weapon?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Can we bring our own firearm to use?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We understand the thrill and excitement of using your own firearm to hunt and you are welcome to
                    bring
                    it; however, we have plenty of firearms you can use.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Are there any special procedures bringing our firearm?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    There are special traveling procedures when flying. You will need a locked hardshell case for
                    each
                    firearm to be stowed away in baggage. We suggest you contact the airline carrier directly for
                    assistance
                    as procedures change from time to time.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Can we bring our own bow or crossbow?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Although we do not keep compound bows available, because they are uniquely setup for each user,
                    we
                    do
                    provide a crossbow. Again, we recommend you contact the airline carrier ensuring the current
                    regulation
                    requirements.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Where will we store our firearms once we are at our destination?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    All outdoor adventures require a safety briefing and the storing of firearms will be discussed
                    at
                    that
                    time. Each adventure is different as a child’s physical limitations may be different.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. What about bringing ammunition or a knife?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Ammunition and knives will have to be stowed away like your weapon but again, I would contact
                    the
                    airline carrier for requirements.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What do we need to pack?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. What clothing should we pack?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    There is no easy answer to this question but should be discussed when arranging your adventure.
                    Please
                    pay close attention to the weather as you get close to your travel date to pack accordingly. We
                    are
                    based out of Georgia but hunt all over the country. It is often said in Georgia, if you do not
                    like
                    the
                    weather, just wait a day. This theory may hold true for many
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Should we pack camouflage?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    If you have camouflage pack it and if you do not it’s okay as well. We are blessed to have
                    REALTREE
                    as a
                    sponsor and they love to “Share Smiles.”
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>


    <mat-card style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h3>Membership Questions</h3>

        <mat-accordion style="width: 80%;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Membership Application
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Why become a member?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Great question. The membership area offers families the ability to obtain access to benefits that
                    are not available through the regular website.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Is there a fee associated with becoming a member?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely not, the sole purpose is to benefit families helping them in a difficult time.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. How do we become a member?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Just complete the online application which goes through a verification process.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Is our information secured?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, personal information provided is secured.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. How will I know when the application is processed?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    You will be contacted either via telephone or email communicating the status of your application.

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. How do I gain access to the Membership Area?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Once approved, you will be provided the necessary login information and will need to change your
                    password.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            7. Why do you need the information requested?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The information is required for verification. This will provide us the ability to protect access
                    ensuring the benefits being provided by our partners are secured and going to families with children
                    fighting cancer or in remission.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            8. Can I cancel my membership?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely, you may cancel your account at anytime.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Membership Questions
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Why do you require a membership?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Membership area was created to benefit families with children fighting cancer or in remission. The
                    integrity of the system is essential to avoid abuse. By doing this we will ensure the benefits are
                    available to help families.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. How long does the verification process take after applying?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The process of reviewing applications begins within 24 hours and the verification process can take
                    up to two weeks.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. How will I know when the application is processed?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    You will be contacted either via telephone or email communicating the status of your application.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. How do I gain access to the Membership Area?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Once approved, you will be provided the necessary login information and will need to change your
                    password.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Membership Benefits
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. What programs or benefits are available through the membership?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Families gain access to help in three area: Financial, Food and Support. The goal is to serve
                    families in one of the most challenging times of their lives.
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                2. How do we apply for a benefit?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Each benefit will be available online with an electronic application.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                3. How are we approved to receive or participate in the various benefit programs?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Once you go through the verification process and have gained access you are approved. It really
                        is that simple.
                    </mat-expansion-panel>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-card style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h3>How To Help</h3>

        <mat-accordion style="width: 80%;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Corporate Partnership
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Why become a Corporate Partner?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We call it a “Sharing Smiles Partner.” You have an opportunity to directly impact families that are
                    seeking answers and oftentimes asking “why” in a positive way. Your help provides opportunities to
                    serve a greater capacity, making a difference not just with a child but the entire family. Digital
                    and analog recognition from our website, social media to event publications and campaigns. The
                    greatest benefit is knowing each dollar you give goes back to families making a difference creating
                    memories that could be their last. Thank you for being a difference maker and becoming a “Sharing
                    Smiles Partner.”
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. How to become a Corporate Partner?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Contact us directly, we love the opportunity to share with you how we are impacting lives through
                    Sharing Smiles and Serving Others.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Are Corporate Sponsors donations tax deductible?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Hunting For THE Cure is a 501(c)(3) non-profit organization and donations are tax deductible to the
                    extent of the law. We do not provide tax advice but are an approved 501(c)(3).
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Adventure Sponsor
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. What is an Adventure Sponsor?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    An “Adventure Sponsor” is the sponsorship of a hunting or fishing adventure for a child.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. What does an Adventure cost?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    The average adventure cost is approximately $4,500.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. How can I sponsor?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Submit a request to sponsor an Adventure and once a family is chosen, we will notify you of the
                    child and what adventure they intend to participate. This way if you like you may follow the
                    adventure as we progress and post on social media.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Can a company be an “Adventure Sponsor?”
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely, we seek to serve each and every family the Lord brings to us and appreciate all the
                    support.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. Is my “Adventure Sponsorship” tax deductible?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We are an approved 501(c)(3) non-profit organization and donations are tax deductible to the extent
                    of the law.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. Can I be a partial “Adventure Sponsor?”
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Most definitely, if more than one business would like to contribute to blessing a child, we are more
                    than grateful for the blessing.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create a Local Chapter
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. What is a Local Chapter?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    A local chapter hosts hunts (private and group), participates in fundraisers serving families and
                    their courageous warriors.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. How do I create a local chapter?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    First, we are thankful and blessed you are even reading this. We require individuals with a heart to
                    serve because it is the heart of the matter. We do not desire to multiply seeking to just grow an
                    organization but grow serving more families. If you are ready to impact and be impacted, submit an
                    electronic request and let’s talk.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Social Media Fundraiser
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. acebook Fundraiser?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Social media is a powerful platform which can be used promoting a cause. Please choose Hunting For
                    THE Cure for your birthday fundraiser, share with family and friends helping “Share a Smile” and
                    Network for Good will handle the rest.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hosting an Event
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. How do I host an event?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We have events scheduled throughout the year at various times as fundraisers but are always looking
                    for hosts and ideas. The truth of the matter is the more we can raise, the more families we are able
                    to bless. If you are interested in hosting an event submit an electronic request and an event
                    coordinator will contact you.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Am I alone hosting an event?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely not, we will work alongside you planning, coordinating, projecting, promoting, and
                    re-evaluating. We love doing events and sharing with others our mission and we would love to work
                    with you. So, what are you waiting on, get involved and email us today and let’s Share Smiles
                    blessing others.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Am I responsible for the cost of the event?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, when we work alongside you planning and coordinating an event a part of the planning is the
                    cost.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How can I donate?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Can I donate online?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Not yet, we are currently developing the website to accept payments. Until then please reach out to
                    Kyle Outlaw at (478) 232-7039 or koutlaw@kourageousoutdoorkids.org to discus methods of donations.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Are my personal donations tax deductible
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We are an approved 501(c)(3) non-profit organization and donations are deductible to fullest extent
                    of the law.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How can I volunteer?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. How can I volunteer?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    It would not be possible to do what we do if it were not for our volunteers. Submit an electronic
                    application completing all the information requesting to be a volunteer.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Do volunteers have to go through background checks?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    All Hunting For THE Cure volunteers are required to have a background check to participate.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. What type of volunteers are needed?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We are a 100% volunteer organization. Volunteers are needed in everything that we do from planning,
                    coordinating and scheduling events to guides and film crew on hunting and fishing adventures.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. Is there a certain required commitment when volunteering?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    No, but we do expect dependability, it’s not about you, it’s about the child, but it will affect you
                    in a good way.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. How long am I volunteering when I volunteer?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    This really depends on the event. If its a fundraiser, then it may just be the day of the event
                    unless you are helping coordinate. If it’s a group adventure, then it may be 3 days but if its a
                    private adventure then it will be 5 to 7 days.
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        I have land
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. Could the organization benefit using my land?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Whether you are a land owner or lease property, we are always seeking additional opportunities to
                    Share a Smile with a child fighting cancer.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. How do I register my property?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Submit an electronic application and a coordinator will reach out to you.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. Do I qualify for a tax deduction if I let you use my property?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    We are an approved 501(c)(3) non-profit and donations can be deducted to the fullest extent of the
                    law.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. If I offer my property, will I know when you will be utilizing it?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Absolutely, we coordinate adventures and this includes communicating with all landowners and lease
                    managers.
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <div>
        <h3>Under Construction</h3>
    </div>
</div>