<mat-toolbar color="primary">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div style="cursor:pointer;" (click)="goHome()">
            <span mat-button class="example-icon">Kourageous Outdoor Kids</span>
        </div>
        <div>
            <div *ngIf="!menu">
                <button (click)="goToFaq()" mat-button class="example-icon">
                    FAQ
                </button>
                <button (click)="goToWhatWeDo()" mat-button class="example-icon">
                    What We Do
                </button>
                <button (click)="goToStory()" mat-button class="example-icon">
                    Our Story
                </button>
                <button (click)="goToVolunteer()" mat-button class="example-icon">
                    Be A Volunteer
                </button>
                <button (click)="goToContact()" mat-button class="example-icon">
                    Contact us
                </button>
            </div>
            <div *ngIf="menu">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="goToFaq()" mat-menu-item class="example-icon">
                        <span>FAQ</span>
                    </button>
                    <button (click)="goToWhatWeDo()" mat-menu-item class="example-icon">
                        <span>What We Do</span>
                    </button>
                    <button (click)="goToStory()" mat-menu-item class="example-icon">
                        <span>Our Story</span>
                    </button>
                    <button (click)="goToVolunteer()" mat-menu-item class="example-icon">
                        <span>Be A Volunteer</span>
                    </button>
                    <button (click)="goToContact()" mat-menu-item class="example-icon">
                        <span>Contact us</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-toolbar>