<mat-toolbar color="primary">
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
            <span>Kourageous Outdoor Kids</span>
        </div>
        <div>
            <div *ngIf="!menu">
                <button mat-button class="example-icon">
                    FAQ
                </button>
                <button mat-button class="example-icon">
                    What We Do
                </button>
                <button mat-button class="example-icon">
                    Our Story
                </button>
                <button mat-button class="example-icon">
                    Be A Volunteer
                </button>
                <button mat-button class="example-icon">
                    Contact us
                </button>
            </div>
            <div *ngIf="menu">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="example-icon">
                        <span>FAQ</span>
                    </button>
                    <button mat-menu-item class="example-icon">
                        <span>What We Do</span>
                    </button>
                    <button mat-menu-item class="example-icon">
                        <span>Our Story</span>
                    </button>
                    <button mat-menu-item class="example-icon">
                        <span>Be A Volunteer</span>
                    </button>
                    <button mat-menu-item class="example-icon">
                        <span>Contact us</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>



</mat-toolbar>

<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <div>
        <iframe src="https://giphy.com/embed/YHvQ5O5TkGmIhg9BTA" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div>
        <h3>Under Construction</h3>
    </div>

</div>