<mat-toolbar>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
            <h3>Copyright © 2022 Kourageous Outdoor Kids</h3>
        </div>
        <div>
            <a href="https://www.facebook.com/Kourageous-Outdoor-Kids-Inc-112010221526966/">
                <img style='width: 20px; height: 20px; cursor: pointer;' src="assets/facebook.png">
            </a>

            <a href="https://www.instagram.com/kourageousoutdoorkids/">
                <img style='width: 20px; height: 20px; cursor: pointer; margin-left:10px;'
                    href="https://www.facebook.com/Kourageous-Outdoor-Kids-Inc-112010221526966/"
                    src="assets/instagram.png">
            </a>
        </div>
    </div>
</mat-toolbar>