<div style="display: flex; justify-content: center;">
    <mat-card style="width: 440px; height: 440; display: flex; justify-content: center; margin: 10px;">
        <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            id="gmap_canvas"
            src="https://maps.google.com/maps?width=400&amp;height=400&amp;hl=en&amp;q=1956%20Ga%20Highway%2019%20S%20%20Dublin+(Kourageous%20Outdoor%20Kids)&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
        <script type='text/javascript'
            src='https://embedmaps.com/google-maps-authorization/script.js?id=22fbc2c5b020849ea7bb32fda01234c55727981e'>
            </script>
    </mat-card>
</div>